<tr class='question' id='<% if(typeof _id != 'undefined') { %><%=_id %><% } %>'>
	<td>
		<span class='label upvote'>▲</span><br/>
		<span class='label downvote'>▼</span>
	</td>

	<td>
		<span class='label votes'><%= upVotes - downVotes %></span><span> votes</span><br/>
		<span class='label views'><%= views %></span><span> views</span>
	</td>

	<td>
		<span class='timeago' title='<%= date %>'></span><br/>
		<span class='author'><%= author %></span>
	</td>

	<td>
		<span class='text'><%= text %></span>
	</td>

	<td>
		<% _.each(tags, function(tag) { %>
			<span class='label tags'><%= tag %></span>
		<% }); %>
	</td>

	<td>
		<%if (answer !== '') { %><span class='label success answer'><%= answer %></span><% } %>
		<% _.each(wrongAnswers, function(wrongAnswer) { %>
			<span class='label important wronganswer'><%= wrongAnswer %></span>
		<% }); %>
	</td>

	<td>
		<span class='label remove important'>X</span>
	</td>
</tr>