!!! 5

html(lang='en')
	head
		title Question bank
		script(data-main='javascripts/configurations', src='javascripts/dependencies/require-jquery.js')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-1.4.0.css')
	body
		.topbar
			.fill
				.container
					h3
						a(href='#') QuestionBank
					ul
						li.active
							a#showform(href='#') Contribute question
						li
							a(href='#') About
						li
							a(href='#') Projects
						li
							a(href='#') Contact

		center
			form#formview
				input#textinput.span9(type='text', placeholder='Question (140 characters max)', maxlength='140')
				br
				input#answerinput.span3(type='text', placeholder='Correct answer')
				input#wronganswersinput.span4(type='text', placeholder='Wrong answers')
				input#tagsinput.span3(type='text', placeholder='Tags')
				br
				input#addbutton.primary.btn(type='button', value='Add question')
				input#cancelbutton.btn(type='button', value='Hide form')

		table.zebra-striped
			tbody#questioncontainer