!!! 5

html(lang='en')
	head
		title Question bank
		script(data-main='javascripts/configurations', src='javascripts/dependencies/require-jquery.js')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-1.4.0.css')
		link(rel='stylesheet', href='/stylesheets/jquery-ui-1.8.16.custom.css')
	body
		.topbar#navigation
			.fill
				.container
					h3
						a#mainlink QuestionBank
					ul
						li.active
							a#showform(href='#') Contribute a question
						li
							a#showsearch(href='#') Search by Wikipedia article
					ul#authenticate
						li
							a#username(href='#')
						li#login
							a(href='/auth/twitter') Log in with Twitter
						li#logout
							a Log out

		center
			form#searchview
				input#searchinput.span9(type='text', placeholder='Choose a Wikipedia article')
				br
				input#searchbutton.primary.btn(type='button', value='Search')
				input#cancelsearch.btn(type='button', value='Cancel search')

			form#formview
				input#articleinput.span9(type='text', placeholder='Choose a Wikipedia article')
				br
				input#textinput.span9(type='text', placeholder='What is your question?', maxlength='140')
				br
				input#answerinput.span3(type='text', placeholder='The correct answer')
				input#wronganswersinput.span4(type='text', placeholder='Some wrong answers')
				br
				input#addbutton.primary.btn(type='button', value='Add question')
				input#cancelbutton.btn(type='button', value='Hide form')

		table.zebra-striped
			tbody#questioncontainer