#searchview *, #formview * {
	margin: 8px;
}

#searchview {
	margin-top: 50px;
}

#formview {
	display: none;
	margin: 20px;
	padding: 20px;
	background-color: #EEEEEE;
}

.upvote, .downvote, .remove {
	visibility: hidden;
}

#authenticate {
	float: right;
}

#logout {
	display: none;
}

.upvoted {
	color: lime !important;
}

.downvoted {
	color: red !important;
}

.upvote, .downvote, .tags, .remove {
	cursor: pointer;
}

#nomatch {
	display: none;
	font-size: 15px;
}

#contribute {
	font-size: 17px;
	color: #777777;
	text-decoration: underline;
}